{% extends "./Templates/template.twig" %}

{% block title %}
	{{book.getTitle}}
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">
{% endblock %}

{% block header %}
	{% include "./Templates/header/header.twig" %}
{% endblock %}

{% block content %}


	<div class="book-select">
		<div class="headbook">
			<h1 class="title tbook">{{ book.getTitle }}</h1>

			<figure class="figurefirstpage">
				<img class="imgbookse" src="{{root}}/public/couverture/{{book.getPhoto}}" alt="{{book.getTitle}}">
			</figure>

			<section class="infobook">
				<p>
					Auteur :
					{{ book.getAuthor }}
				</p>
				<p>
					ISBN :
					{{ book.getIsbn }}
				</p>

				<p>
					Genre :
					{% for gender in g %}
						{{gender.getName_gender}}
					{% endfor %}

				</p>
				<p>
					Catégorie :
					{{ category.getName_category }}
				</p>
				<p>
					Date de publication :
					{{book.getYear_published}}
				</p>
				<p>
					État :
					{{condition.getStatus_condition}}
				</p>
			</section>
		</div>


		<section class="descbook">
			<p>Description :
			</p>
			<p>{{book.getDescrip}}</p>
		</section>

		<div class="usereserv">
			<div class="confirm-booking">
				<h5>Vous souhaitez réserver le livre
					{{book.getTitle}}
					?</h5>
				<br><br>
				<p>
					Si vous souhaitez continuer, et réserver
					{{book.getTitle}}, votre réservation prendra effet à ce jour, soit le :
					{{ "now"|date("m/d/Y") }}.
					<br><br>
					Le livre vous est confier pour une durée de trois semaines, vous disposer jusqu'au
					{{ reserv.book|date_modify("+21 day")|date("m/d/Y") }}
					pour en profiter.
					<br><br>
					La Bibliothèque de Lyon vous remercie pour votre confiance.
				</p>


				<button class="closebooking">Annuler</button>
				<form action="{{root}}/validatebooking" method="POST">
					<input type="hidden" value="{{book.getId_book}}" name="id_book">
					<input type="hidden" value="{{condition.getId_condition_book}}" name="id_condition_book">
					<input type="submit" name="submit" value="Réserver">
					<pre>
						{{ dump(book.getId_book, condition.getId_condition_book) }}
						{{ dump(id_book)}}
					</pre>
				</form>

				

			</div>
		</div>
		<section>
			<div class="bgbookmark">
				<div class="square">Emplacement du livre
					<a href="#">?</a>
					:
					{{book.getEmplacement}}</div>
				<div class="triangle"></div>
			</div>
			<div class="bgres">
				<div class="btn-wanted">
					<div class="btnsub btnbooking">Réserver</div>
					<div>
						<a href="#">Ajoutez à votre liste d'envies</a>
						{# Mettre un petit coeur ou on puisse cliquer dessus et que cela ajoute a la liste d'envie #}
					</div>

				</div>
				<div>
					{% for r in reservs %}
						{% if (r.getId_book == book.getId_book) %}
							{% if r.getEnd_date_reserv > now|date("Y-m-d") %}
								<p><strong>Prêté</strong> - retour prévu le : {{r.getEnd_date_reserv}}</p>
							{% else %}$
								<p><strong>Disponible</strong></p>
							{% endif %}
						{% elseif loop.first %}
							Disponible
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</section>
	</div>

	<div class="bgbookmark">
		<div class="square">COMMENTAIRE</div>
		<div class="triangle"></div>
	</div>

	<div class="comment">

		{% for comment in c %}
			{% for user in u %}
				{% if comment.getId_user == user.getId_user %}
					{{user.getNum_member}}
				{% endif %}
			{% endfor %}
			<p>
				{{comment.getTitle_comment}}
			</p>
			<p>
				{{comment.getContent_comment}}
			</p>

		{% endfor %}
	</div>

	<div>
		<form action="./addcom" method="GET">
			
			<label for="titleComment"><input type="text" name="titleComment" id="titleComment" placeholder="Votre titre"></label>

			<label for="contentComment"></label>
			<textarea name="contentComment" id="contentComment" cols="30" rows="10" placeholder="Écrivez votre commentaire..."></textarea>
			<input type="hidden" name="id_book" value="{{book.getId_book}}">
			<input type="submit" name="submit" value="Envoyer">
		</form>
	</div>
{% endblock %}
{% block footer %}
	{% include "./Templates/footer/footer.twig" %}

	<script src="{{root}}/Views/Templates/js/booking.js"></script>
{% endblock %}
