{% extends "./Templates/template.twig" %}

{% block title %}Réservation
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">
{% endblock %}

{% block header %}
	{% include "./Templates/header/headerAdmin.twig" %}
{% endblock %}

{% block content %}


<h1 class="title histo">Reservation</h1>

<div class="in-progress">
    <div class="user-historique">
        <div class="book-res">
            {% for b in book %}
                <div class="bookreserv">
                    <p>{{b.getTitle}}</p>
                    <p>{{b.getIsbn}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="book-date">
            {% for ru in reservUser %}
                <div class="date">
                    <p class="user-Resa">{{ru[1].getNum_member}}</p>
                    <p>{{ru[0].getEnd_date_reserv|date('d/m/Y')}}</p>
                    <form action="" method="POST">
                        <input type="hidden" value="{{ru[0].getId_reserv}}" name="id_reserv">
                        <input type="hidden" value="{{ru[0].getId_book}}" name="id_book">
                        <input type="hidden" value="{{ru[0].getId_condition_book}}" name="id_condition_book">
                        <input type="hidden" value="{{ru[0].getId_user}}" name="id_user">
                        <input type="hidden" value="{{"now"|date("d/m/Y")}}" name="date_return">
                        <input type="submit" id="confirm" name="submit" value="Confirmer le retour">
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% for u in user %}
    {{u.getNum_member}}
{% endfor %}

<h1 class="title histo">Retour</h1>
<div class="in-progress">
    <div class="user-retour">
        <ul id="list-retour">
            {% for b in books %}
                <div class="bookretour">
                    <p>{{b.getTitle}}</p>
                </div>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block footer %}
	{% include "./Templates/footer/footer-co.twig" %}
{% endblock %}