{% extends "./Templates/template.twig" %}

{% block title %}Réservation
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">
{% endblock %}

{% block header %}
	{% include "./Templates/header/headerAdmin.twig" %}
{% endblock %}

{% block content %}


<h1 class="title histo">Reservation</h1>

<div class="in-progress">
    <div class="user-historique">
        <div class="book-res">
            {% for b in book %}
                <div class="bookreserv">
                    <p>{{b.getTitle}}</p>
                    <p>{{b.getIsbn}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="book-date">
            {% for ru in reservUser %}
                <div class="date">
                    <p class="user-Resa">{{ru[1].getNum_member}}</p>
                    <p>{{ru[0].getEnd_date_reserv|date('d/m/Y')}}</p>
                    <form action="{{root}}/updateBooking" method="POST">
                        <input type="hidden" value"{{view.getStatus}}"c name"newStatus">
                        <input class="btnsub" type="submit" name="submit" value="Confirmer la réservation">
                    </form>
                </div>

            {% endfor %}
        </div>
    </div>
</div>
{% for u in user %}
    {{u.getNum_member}}
{% endfor %}


{% endblock %}

{% block footer %}
	{% include "./Templates/footer/footer-co.twig" %}
{% endblock %}