{% extends "./Templates/template.twig" %}

{% block title %} Recherche {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">{% endblock %}

{% block header %} {% include "./Templates/header/header.twig" %} {% include "./Templates/header/searchbar.twig" %} {% endblock %}

{% block content %} 
    {% for book in books %}
        <img src="{{root}}/public/couverture/{{book.getPhoto}}" alt="{{book.getTitle}}">
        <h1>{{book.getTitle}}</h1>
        <p>{{book.getAuthor}}</p>
        <p>{{book.getIsbn}}</p>
    {% endfor %}
    {% for i in range (1, nbrpages) %}
        <a href=".&p={{i}}">{{i}}</a>
        
    {% endfor %}
{% endblock %}

{% block footer %} {% include "./Templates/footer/footer.twig" %}
<script src="{{root}}/Views/Templates/js/searchbar.js"></script> {% endblock %}