{% extends "./Templates/template.twig" %}

{% block title %}Espace Admin
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">
{% endblock %}

{% block header %}
	{% include "./Templates/header/headerAdmin.twig" %}
	{% include "./Templates/header/searchbar.twig" %}
{% endblock %}

{% block content %}
    <button><a href="{{root}}/bookF">ajouter un livre</a></button>
    <p>
        État du livre : 
        <div class="cercle-bad">kiki</div>
        <div class="cercle-medium">kiki</div>
        <div class="cercle-good">kiki</div>    
    </p>
    {% for book in books %}
        <div class="book pass">
            <figure>
                <img class="imgbooks" src="{{root}}/public/couverture/{{book.getPhoto}}" alt="{{book.getTitle}}" width="250px">
            </figure>
            <h1>{{book.getTitle}}</h1>
            <p>
                {{book.getAuthor}}
            </p>
            <p>
                {{book.getIsbn}}    
            </p>
            <p>
                {{book.getYear_published}}    
            </p>
            <div class="cercle"></div>
            <button id="update">
                <a href="{{root}}/book/{{book.getId_book}}">Modifier</a>
            </button>
            <button id="delete">
                <a href="{{root}}/admin_book_ajout/{{book.getId_book}}">Supprimer</a>
            </button>
        </div>
    {% endfor %}
    {% for i in range (1, nbrpages) %}
        <a class="nbrpage" href="">{{i}}</a>
        
    {% endfor %}
{% endblock %}

{% block footer %}
	{% include "./Templates/footer/footer-co.twig" %}
    <script src="{{root}}/Views/Templates/js/searchbar.js"></script>
    <script src="{{root}}/Views/Templates/js/all-pagination.js"></script>
{% endblock %}
