{% extends "./Templates/template.twig" %}

{% block title %}Espace Admin{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">{% endblock %}

{% block header %} {% include "./Templates/header/headerAdmin.twig" %} {% include "./Templates/header/searchbar.twig" %} {% endblock %}

{% block content %}
    <button><a href="{{root}}/bookF">ajouter un livre</a></button>
    <p>
        État du livre : 
        <div class="cercle-bad">kiki</div>
        <div class="cercle-medium">kiki</div>
        <div class="cercle-good">kiki</div>    
    </p>
    {% for book in books %}
        <div class="book pass">
            <figure>
                <img class="imgbooks" src="{{root}}/public/couverture/{{book.getPhoto}}" alt="{{book.getTitle}}">
            </figure>
            <div class="cercle"></div>
            <button id="update">
                <a href="{{root}}/book/{{book.getId_book}}">Modifier</a>
            </button>
            <button id="delete">
                <a href=".{{root}}/book/{{book.getId_book}}">Supprimer</a>
            </button>
        </div>
        
    {% endfor %}

    <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati eius iusto sequi consectetur ducimus aliquid odio et, iste voluptates velit, porro, rem quisquam quaerat distinctio aperiam dolore quos! Cupiditate, optio? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nulla repellat ratione esse debitis reprehenderit dolorem tempore expedita omnis, dignissimos at labore dolores voluptatibus atque, laudantium aperiam? Corporis, soluta quia.</h1>
{% endblock %}

{% block footer %} {% include "./Templates/footer/footer-co.twig" %} {% endblock %}