{% extends "./Templates/template.twig" %}

{% block title %}Modification du livre {% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">{% endblock %}

{% block header %} {% include "./Templates/header/header.twig" %} {% endblock %}

    {% block content %}
        <form action="./update" method="GET" enctype="multipart/form-data">
            <h1 class="title tbook">{{ book.getTitle }}</h1>

            <figure class="figurefirstpage">
                <img class="imgbookse" src="{{root}}/public/couverture/{{book.getPhoto}}" alt="{{book.getTitle}}">
            </figure>

            <section class="infobook">
                <p>
                    Auteur : 
                    {{ book.getAuthor }}
                </p>
                <p>
                    ISBN : 
                    {{ book.getIsbn }}
                </p>
                <p>
                    Genre : 
                    {{ book.getId_gender}}
                </p>
                <p>
                    Catégorie : 
                    {{ category.getName_category }}
                </p>
                <p>
                    Date de publication :
                    {{book.getYear_published|date('d/m/y', strtotime)}}
                </p> 
            </section>

            <label for="emplacement">Emplacement :</label>
            <input type="text" name="emplacement" placeholder="{{book.getEmplacement}}">

            <label for="condition">État</label>

            <input type="radio" name="condition" value="1">
            <label for="condition">Très bon</label>
            <input type="radio" name="condition" value="2" checked="checked">
            <label for="condition">Bon</label>

            <input type="radio" name="condition" value="3">
            <label for="condition">Mauvais</label>

            <button type="submit" name="submit">
                <a href="{{root}}/spaceAdmin">Envoyer</a>
            </button>
        </form>
    {% endblock %}

{% block footer %} {% include "./Templates/footer/footer.twig" %} {% endblock %}