{% extends "./Templates/template.twig" %}

{% block title %}
	{{book.getTitle}}
{% endblock %}

{% block stylesheet %}<link rel="stylesheet" href="{{root}}/Views/Templates/css/style.css">
{% endblock %}

{% block header %}
	{% include "./Templates/header/headerUser.twig" %}
{% endblock %}


{% block content %}

	<h1>Historique</h1>

	<div class="in-progress">
		<h2>En cours</h2>
		{% for b in book %}
			{{b.getTitle}}
			{{b.getIsbn}}
		{% endfor %}
		{% for y in reservs %}
			{{y.getEnd_date_reserv|date('d/m/Y')}}
		{% endfor %}
	</div>


	<div class="rendered">
		<h2>Rendu</h2>
	

	</div>


{% endblock %}
{% block footer %}
	{% include "./Templates/footer/footer.twig" %}
	<script src="{{root}}/Views/Templates/js/headerfooter.js"></script>
{% endblock %}
