<header class="headerhome">
    <a href="{{root}}/">
        <img src="{{root}}/Views/Templates/asset/logobilbioblack.png" alt="coucou" class="logoh">
        <img src="{{root}}/Views/Templates/asset/largelogobiblioblack.png" alt="coucou" class="logohd">
    </a>
    <div class="menubg">
        <div class="line"></div>
        <div class="linecenter"></div>
        <div class="line"></div>
    </div>
    <ul class="menuh">
        <li><a href="{{root}}/"><img src="{{root}}/Views/Templates/asset/home.png" alt="fanny"> Accueil</a></li>
        <li><a href="{{root}}/genre"><img src="{{root}}/Views/Templates/asset/book.png" alt="fanny"> Genre</a></li>
        <li><a href="{{root}}/connectUser"><img src="{{root}}/Views/Templates/asset/account.png" alt="fanny"> Mon Compte</a></li>
    </ul>
    <div class="menumobile">
        <div class="close">X</div>
        <ul>
            <li><a href="{{root}}/">Accueil</a></li>
            <li><a href="{{root}}/genre">Genre</a></li>
            <li><a href="{{root}}/connectUser">Mon Compte</a></li>
        </ul>
    </div>
</header>