<header class="headerhome">
    <a href="{{root}}/">
        <img src="{{root}}/Views/Templates/asset/logobilbioblack.png" alt="coucou" class="logoh">
        <img src="{{root}}/Views/Templates/asset/largelogobiblioblack.png" alt="coucou" class="logohd">
    </a>
    <div class="menubg">
        <div class="line"></div>
        <div class="linecenter"></div>
        <div class="line"></div>
    </div>
    <ul class="menuh menuadmin">

        <li><a href="{{root}}/registrationUser"><img src="{{root}}/Views/Templates/asset/home.png" alt="fanny"> Inscription d'un nouveau adhérent</a></li>
        <li><a href="{{root}}/validate_reserv"><img src="{{root}}/Views/Templates/asset/book.png" alt="fanny"> Les réservations</a></li>

        <li><a href="{{root}}/deconnectAdmin"><img src="{{root}}/Views/Templates/asset/account.png" alt="fanny"> Déconnexion</a></li>
    </ul>
    <div class="menumobile">
        <div class="close">X</div>
        <ul>
            <li><a href="{{root}}/registration_user">Inscription d'un nouveau adhérent</a></li>
            <li><a href="{{root}}/validate_reserv">Les réservations</a></li>
            <li><a href="{{root}}/deconnectAdmin">Déconnexion</a></li>
        </ul>
    </div>
</header>