<header class="headerhome">
    <a href="{{root}}/">
        <img src="{{root}}/Views/Templates/asset/logobilbioblack.png" alt="coucou" class="logoh">
        <img src="{{root}}/Views/Templates/asset/largelogobiblioblack.png" alt="coucou" class="logohd">
    </a>
    <div class="menubg">
        <div class="line"></div>
        <div class="linecenter"></div>
        <div class="line"></div>
    </div>
    <ul class="menuh">

        <li><a href="{{root}}/"><img src="{{root}}/Views/Templates/asset/home.png" alt="fanny"> Historique</a></li>
        <li><a href="{{root}}/userModif/{{id_user}}"><img src="{{root}}/Views/Templates/asset/book.png" alt="fanny"> Mon compte</a></li>

        <li><a href="{{root}}/deconnectUser"><img src="{{root}}/Views/Templates/asset/account.png" alt="fanny"> Déconnexion</a></li>
    </ul>
    <div class="menumobile">
        <div class="close">X</div>
        <ul>
            <li><a href="{{root}}/">Historique</a></li>
            <li><a href="{{root}}/userModif/{{id_user}}">Mon compte</a></li>
            <li><a href="{{root}}/deconnectUser">Déconnexion</a></li>
        </ul>
    </div>
</header>